<div class="text-block payment-method-sec ">
    <h3  class="primary-title m-hide">Edit Payment Options</h3>
    <div class="card-payment-method">
        <h4  class="primary-title-sub">Cash On Delivery</h4>
        <p class="mx-490">To activate Cash On Delivery, kindly provide your mobile number,  a verification code will be sent to you via SMS</p>

        <div class="form-container">
            

            <div class="form-rows mx-490">
                <div class="form-field">
                    <label>Mobile Number</label>
                    <input type="text" class="form-control round" name="" id="" placeholder="+65">
                </div>

                <div class="form-field mx-490">
                    <label>SMS Code</label>
                    <div class="inp-float">
                        <input type="text" class="form-control round" name="" id="" placeholder="Your OTP code here">
                        <span class="btn btn-light-blue">Get Verification Code</span>
                    </div>
                </div>

            </div>
            
            <div  class="user-action"><button  type="reset" class="btn btn-trans">Cancel</button><button  type="submit" class="btn btn-green">Save</button></div>

        </div>
    </div>
</div>