<div class="auth-form-wrap-outer m-center mt-65 mb-65">
  <div class="auth-form-wrap col2 m-center  mb-32 bg-white">
    <div class="graphic d-flex align-items-center justify-content-center">
      <div class="graphic-inner mw-300">
        <img src="assets/images/order-status-img.png" alt="">
      </div>
    </div>
    <div class="content-sec d-flex align-items-center justify-content-center">
      <div class="mw-320 content-inner ">
        <h2 class="primary-title mb-15">Yeay! You already setup</h2>
        <p class="text-light-gary">Your password completely saved.<br /> Do not share your password to anyone.</p>
        <p class="mb-0 mt-45">
          <a href="javascript:void(0)" class="btn btn-primary btn-block" [routerLink]="['/auth/login']">Let’s Start</a>
        </p>
      </div>
    </div>
  </div>
  <br /><br /><br />
</div>