<div class="account-delivery-sec text-block">
    <h3 class="primary-title bottom-line m-hide">Edit Address </h3>
    <div class="address-options">
        <div class="address-options-item active">
            <span class="icon icon-home"></span>
            <h3 class="label">House</h3>
        </div>

        <div class="address-options-item">
            <span class="icon icon-office"></span>
            <h3 class="label">Office</h3>
        </div>

        <div class="address-options-item">
            <span class="icon icon-apartment"></span>
            <h3 class="label">Apartment</h3>
        </div>
    </div>

    <div class="location-area">
        <i class="icon icon-marker"></i> Doha, Qatar
    </div>

    <div class="edit-address-details">
        <h4 class="primary-title-sub">Your detail address </h4>
        <div class="form-container col2">
            <div class="form-field">
                <label for="">House*</label>
                <input type="text" name="" class="form-control" placeholder="6 ">
            </div>
            <div class="form-field">
                <label for="">Area/Street</label>
                <input type="text" name="" class="form-control" placeholder="6, 63 Street ">
            </div>
           
        </div>

        <div class="form-container">
            <div class="form-field">
                <label for="">Additional Directions (Optional)</label>
                <input type="text" name="" class="form-control" placeholder="Street, House number, Apartment, Building etc ">
            </div>
        </div>
    </div>
    <div class="edit-personal-details">
        <h4 class="primary-title-sub">Personal Information </h4>
        <div class="form-container col2">
            <div class="form-field">
                <label for="">Name</label>
                <input type="text" name="" class="form-control" placeholder="John Doe ">
            </div>
            <div class="form-field">
                <label for="">Phone Number</label>
                <input type="text" name="" class="form-control" placeholder="+65 08555555 ">
            </div>
            
        </div>
    </div>
    <div class="user-action">
        <button type="reset" class="btn btn-trans">Cancel</button>
        <button type="submit" class="btn btn-green">Save</button>
    </div>
</div>