@mixin flexbox ($jc:flex-start, $ai:stretch, $fw:wrap) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: $fw;
}

@mixin heading($fs:18px, $lh:26px,  $c:#000000, $fw:600){
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;
}

@mixin text($fs:16px, $lh:24px,  $c:#5A5A5A, $fw:400){
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;
}

@mixin rating_star($size:24px, $fill:EE9623) {
    & .star {
        display: inline-block;
        width: $size;
        height: $size;
        background-image: url("data:image/svg+xml,%3Csvg width='#{$size}' height='#{$size}' viewBox='0 0 #{$size} #{$size}' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.3901 11.6C21.6648 11.3192 21.856 10.9676 21.9426 10.5845C22.0291 10.2013 22.0074 9.80161 21.8801 9.43002C21.7605 9.05733 21.5387 8.72569 21.2399 8.47288C20.9412 8.22006 20.5774 8.05622 20.1901 8.00002L15.9001 7.34002C15.88 7.33422 15.8616 7.32403 15.846 7.31019C15.8304 7.29635 15.8182 7.27921 15.8101 7.26002L13.9301 3.26002C13.7652 2.88546 13.495 2.56692 13.1523 2.34321C12.8096 2.11949 12.4093 2.00025 12.0001 2.00002C11.5956 1.99835 11.1992 2.11353 10.8586 2.33173C10.518 2.54993 10.2476 2.86186 10.0801 3.23002L8.20006 7.23002C8.1898 7.24952 8.17562 7.26669 8.15841 7.28046C8.1412 7.29423 8.12134 7.30429 8.10006 7.31002L3.82006 8.00002C3.43215 8.05781 3.06788 8.22207 2.76776 8.47452C2.46764 8.72698 2.24342 9.05774 2.12006 9.43002C1.99736 9.8029 1.97908 10.2023 2.06723 10.5848C2.15537 10.9673 2.34656 11.3184 2.62006 11.6L5.78006 14.85C5.78916 14.8705 5.79386 14.8926 5.79386 14.915C5.79386 14.9374 5.78916 14.9596 5.78006 14.98L5.04006 19.52C4.97127 19.9154 5.01611 20.3222 5.16938 20.6931C5.32266 21.064 5.57806 21.3838 5.90589 21.6152C6.23373 21.8467 6.62054 21.9804 7.02135 22.0007C7.42215 22.021 7.82049 21.9272 8.17006 21.73L11.9001 19.66C11.9186 19.6504 11.9392 19.6453 11.9601 19.6453C11.9809 19.6453 12.0015 19.6504 12.0201 19.66L15.7501 21.73C16.1001 21.9229 16.4973 22.0134 16.8964 21.9913C17.2954 21.9691 17.6802 21.835 18.0067 21.6045C18.3331 21.374 18.5882 21.0563 18.7426 20.6877C18.8971 20.319 18.9447 19.9144 18.8801 19.52L18.1901 15C18.1795 14.9818 18.174 14.9611 18.174 14.94C18.174 14.919 18.1795 14.8983 18.1901 14.88L21.3901 11.6Z' fill='%23#{$fill}'/%3E%3C/svg%3E");
    }
}

@mixin  graphic($size:50px, $bg:#C4C4C4, $radius:14px,  $m:0 20px 10px 0, $p:0, $bgs:cover) {
    width: $size;
    height: $size;
    border-radius: $radius;
    margin: $m;
    padding: $p;
    background: $bg;
    background-size: $bgs;
}

@mixin gap($m, $p) {
    margin: $m;
    padding: $p;
}

@mixin button($fs:18px, $lh:150%, $c:#fff, $bg:#EE9623, $bgh:#EE9623, $p:16px, $m:0 0 5px 0) {
    display: inline-block;
    cursor: pointer;
    font-size: $fs;
    line-height: $lh;
    color: $c;
    background: $bg;
    padding: $p;
    margin: $m;
    transition: all .3s;
    &:hover {
        background: $bgh;
        color: $c;
    }
}

